html, body {
  margin: 0;
  height: 100%;
  background-color: #f0f0f0;
}
header {
  background-color: rgb(114, 159, 214);
  color: white;
  padding: 3px;
  font-size: 15px;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#left-pane {
  width: 30%;
  border-right: 1px solid #ccc;
  padding: 15px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
}

#right-pane {
  width: 70%;
  padding: 30px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.top-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#new-btn {
  padding: 8px 14px;
  background-color: #60a4ec;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

#search {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

li {
  background: rgb(225, 204, 239);
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
}

h2 { margin-bottom: 10px;}

p{ margin-bottom: 20px; }

form input, form textarea {
  width: 100%;
  padding: 10px;
 margin-bottom: 10px;
}

button {
  background-color: #7dafe1;
   border-radius: 4px;
   border:none;
   color:white
}

#response{
 display:none;
}

#clicked,#submitted{
  background-color: #bfdfee;
  border-radius: 4px;
  padding: 1px;
}
.time{
 font-size:8px ;
 color:#080808;
}
